.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bg);

}


.auth__card {
    background: var(--surface);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}


.auth__title {
    color: var(--primary-dark);
    margin-bottom: 5px;
}

.auth__subtitle {
    color: var(--subtitle-desc);
    font-size: 14px;
    margin-bottom: 20px;

}


.auth__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.auth__input {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
}


.auth__submit {
    background-color: var(--primary);
    color: var(--surface);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: -5px;
}


.auth__submit:hover {
    background-color: var(--primary-dark);
}

.auth__switch-link {
    color: var(--primary);
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
}